.standing-container{
    width: 15vw;
    height: 25vh;
    padding: 20px;
    position: absolute;
    left: 5vw;
    top: 35vh;
    text-align: left;
}

.standing{
    font-size: 3.25vmin;
}

.form-check-label{
    font-size: 2.5vmin;
}

