.description-container{
    width: 50%;
    padding-top: 175px;
    position: relative;
    left: 10%;
    text-align: left;
  }

  .top-text{
    font-size: 2.125rem;
  }

  .bottom-text{
    font-size: 1.3125rem;
    color: #828282;
  }